#Section1 {
    align-self: center;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 18px;
}

input::-webkit-inner-spin-button {
    opacity: 0;
}

.card-padding {
    -webkit-text-size-adjust: 100%;
    color: #101828;
    -webkit-font-smoothing: antialiased !important;
    box-sizing: border-box;
    padding: 40px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: #fff;
    box-shadow: 0 2px 20px 0 rgba(0,0,0,.12);
}

.input-label {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased !important;
    box-sizing: border-box;
    display: block;
    margin-bottom: 5px;
    color: rgb(40, 40, 40);
    font-weight: 500;
}

.multiple-input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4%;
}


.calc-input-container {
    -webkit-text-size-adjust: 100%;
    color: #101828;
    -webkit-font-smoothing: antialiased !important;
    box-sizing: border-box;
    display: flex;
    padding: 8px 20px;
    -webkit-box-align: center;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
    margin-bottom: 20px;
}

.perc {
    align-items: center;
    justify-content: left;
    -webkit-box-align: center;
}

.calc-input-dollar {
    margin-right: 5px;
}

.calc-input-suffix {
    color: rgba(0,0,0,0.4);
    text-wrap: nowrap;
}

.calc-input-field {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased !important;
    box-sizing: border-box;
    font: inherit;
    margin: 0;
    display: block;
    width: 100%;
    background-color: #fff;
    margin-bottom: 0;
    padding: 0;
    border: 1px #000;
    color: #000;
    font-weight: 500;
    outline-width: 0px;
}


.calc-input-field::-webkit-outer-spin-button, calc-input-field::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@media screen and (max-width: 991px) {
    .card-padding {
        margin-right: 40px;
        margin-left: 40px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0;
    }
}

@media screen and (max-width: 479px) {
    .card-padding {
        margin-right: 16px;
        margin-left: 16px;
        padding: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0;
    }
}